<h2>Add video to you playlist</h2>

<%= form_for @list do |f| %>
  <%= f.collection_select :playlist_id, @playlists, :id, :name %>
  <%= f.hidden_field :video_id, :value=>@video.id %>
  <%= f.submit value:'add to playlist' %>
<% end %>