<ul>

  <% @list.each do |list| %>
    <li><%= link_to list.video.title,"/videos/#{list.video.id}" %> -- <%= list.video.author.name %> <%= link_to "Delete",list,method: :delete %></li>
  <% end %>
</ul>