<ul>
<% @videos.each do |video| %>
  <li><%= link_to video.title,controller:'videos',action:'show',id:video.id %>-- <%= video.author.name %>   <%= link_to 'Delete this video',video,method: :delete %></li>
<% end %>
</ul>