<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Metube</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="/">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if current_user != nil %>
      <li class="active"><a href="#"><%= current_user.name %></a></li>
      <% end %>
      <li class='active'><%= link_to 'Logout','users/sign_out',method: :delete %></li>
    </ul>
  </section>
  <ul class="left" style="width:500px;">
    <li class="has-form">
      <div class="row collapse">
        <div class="large-10 small-11 columns">
          <input type="text" placeholder="Find Videos">
        </div>
        <div class="large-2 small-1 columns">
          <a href="/search/show" class="alert button expand" id='search'>Search</a>
        </div>
      </div>
    </li>
  </ul>
</nav>