<%= form_for @playlist do |f| %>
  name: <%= f.text_field :name %><br>
  <%= f.submit %>
<% end %>
<% if @playlist.errors.any? %>
  <ul>
    <% @playlist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %> 
